.cabecalho {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid;
    position: fixed;
    top: 0;
    background-color: #fff;
}

.logo {
    height: 100%;
}

.menu-principal {
    width: 100%;
    height: 100%;
}

.menu-logo, .menu-pages {
    width: 100%;
    height: 100%;
}

.menu-icone {
    display: none;
}

.menu-logo {
    padding: 0 30px;
}

.menu-logo h1 {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.icones {
    border: double;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}

.icones:hover {
    transition: .3s;
    transform: scale(0.9);
}

@media screen and (max-width: 650px) {
    .cabecalho {

    }

    .menu-pages {
        width: 100%;
        height: 0vh;
        position: absolute;
        top: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: .3s;
        overflow: hidden;
    }
    
    .abrir-menu {
        transition: .3s;
        height: 90vh;
        background-color: #fff;
        z-index: 999;
    }

    .menu-icone {
        display: block;
        color: #0078ed;
    }

    .menu {
        list-style: none;
        font-size: 2rem;
        font-weight: bold;
    }

}