* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centralizar-alinhar, .alinhar-coluna {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.alinhar-coluna {
  flex-direction: column;
}